<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="header">
    <h1 >My Application</h1>
    <a href="/login">Login</a> 
    </div>
    <%- body  %>
    <h3 class="footer">&copy;2026.ALL rights reserved.</h3>
</body>
</html>