<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Login Form</h1>
    <form action="/login" method="POST">
    <p><input type="text" name="email" placeholder="Email"></p>
    <p><input type="text" name="password" placeholder="Password"></p>
    <p><button type="submit">Login</button></p>
    </form>
    <p>
        new user <a href="/register"> register</a>here!
    </p>
</body>
</html>